/* Global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Update font family to use Poppins */
}

body {
    background-color: #ecf0f1; /* Clouds */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    background-color: #2c3e50; /* Deep Sky Blue */
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header img {
    height: 80%;
    margin-left: 2vw;
    filter: invert(100%);
}

/* Main container styles */
.main-container {
    display: flex;
    flex: 1;
}

.container {
    width: 80vw;
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .container {
        width: 100%;
    }
}

/* Control buttons styles */
.control-buttons {
    height: 10vh;
    background-color: #587CA0; /* Alizarin */
}


/* Footer styles */
footer {
    height: 10vh;
    background-color: #2c3e50; /* Midnight Blue */
    margin-top: auto;
}

/* Content styles */
.content {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

/* Call-to-action container styles */
.cta-container {
    text-align: center;
    margin-top: 50px;
}

.cta-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cta-container a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db; /* Deep Sky Blue */
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-container a:hover {
    background-color: #2980b9; /* Darker shade on hover */
}

/* User info styles */
.user-info {
    display: flex;
    align-items: center;
}

.welcome-text {
    color: white;
    margin-right: 10px;
}

/* Logout button styles */
#logout {
    text-decoration: none;
    color: white;
    background-color: #e74c3c; /* Alizarin */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#logout:hover {
    background-color: #c0392b; /* Darker shade on hover */
}
